@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@300;400;500;700&display=swap');

body {
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
  scroll-behavior: smooth;
}

.display {
  background-image: url(./images/shape3.png);
  background-repeat: no-repeat;
  z-index: 5;
}

.removes {
  display: block;
}

.inverse {
  display: none;
}

nav {
  display: flex;
  flex-direction: column;
  width: 100%;
}

nav img {
  position: fixed;
  padding: 25px;
  margin: 20px;
}

.open {
  -webkit-transform: scale(0.7);
}

nav > ul > li > a {
  text-decoration: none;
  color: #000;
}

.close {
  display: none;
}

.menubar {
  display: flex;
  justify-content: end;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  z-index: 3;
  transition: all 0.5s ease-out;
}

.menubar :focus {
  outline: none;
}

.hormenu,
.box4,
.grid2,
.adds {
  display: none;
  width: 100%;
}

.show {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  height: 568px;
  width: 100%;
  background-image: url(./images/menu1.png), url(./images/menu2.png);
  background-position: left top, bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: 80%, 100%;
  margin: 20px 24px 0 0;
  transition: all 2s ease-out;
}

#header {
  min-height: 80px;
}

.open.show::after {
  display: none;
}

.close.show::after {
  display: flex;
}

.show > li {
  padding: 3%;
}

.link {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.background {
  padding-bottom: 60%;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  margin: -1px 0 -2px 0;
}

.img1 {
  background-image: url(./images/geometry.png);
  z-index: 3;
}

.img2 {
  background-image: url(./images/1.png);
}

.img3 {
  background-image: url(./images/2.png);
}

.img4 {
  background-image: url(./images/3.png);
}

.img5 {
  background-image: url(./images/4.png);
}

.img6 {
  background-image: url(./images/5.png);
}

.img7 {
  background-image: url(./images/6.png);
}

h1,
h2 {
  font-family: 'Playfair Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10vw;
  line-height: 100%;
}

h2 {
  margin-top: 70px;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 80%;
  color: #fff;
}

h4 {
  font-family: Poppins, sans-serif;
  font-size: 5vw;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  color: #fff;
}

p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
  padding-right: 5%;
  padding-bottom: 5%;
}

.padd {
  padding: 0 15px 0 15px;
}

.flex {
  display: flex;
}

.flexdown {
  display: flex;
  flex-direction: column;
}

.flexfall {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: auto;
  overflow-x: hidden;
}

.rectangle {
  cursor: pointer;
  height: 50px;
  left: 16px;
  top: 390px;
  background: #1a2236;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  width: 100%;
  margin: 10% 0 5% 0;
}

.rectangle:hover {
  background: #fff;
  color: #1a2236;
  border: 1px solid #1a2236;
}

.rectangle:active {
  background: #1a2236;
  color: #fff;
  border: 2px solid #1a2236;
}

.left {
  text-align: left;
  color: #92dcdc;
}

.flexend {
  display: flex;
  width: 100%;
  margin: 0%;
  justify-content: end;
}

.center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col-button {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

.img-slideshow img {
  width: 100%;
}

.slideshow img {
  width: 100%;
  margin-bottom: 10%;
}

.rectangle > img {
  margin-left: 5%;
}

.lower img {
  flex-grow: 0;
}

.reversemb img {
  filter: invert(100%);
}

.reverse img {
  filter: invert(100%);
}

.press:hover {
  background: #fff;
  color: #1a2236;
  border: 1px solid #fff;
}

.press:active {
  color: #fff;
  background: #1a2236;
  border: 2px solid #fff;
}

.press:hover img {
  filter: invert(100%);
}

.press:active img {
  filter: invert(1%);
}

.reverse:hover img {
  filter: invert(1%);
}

.reverse:active img {
  filter: invert(100%);
}

.reversemb:hover img {
  filter: invert(1%);
}

.reversemb:active img {
  filter: invert(100%);
}

ul {
  list-style: none;
  padding-inline-start: 0.1em;
  text-decoration: none;
}

.languages {
  padding: 6px 10px 6px 10px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 3vw;
  line-height: 80%;
  background-color: #98dede;
  margin-right: 10px;
}

.margin {
  margin-left: 20px;
  margin-right: 20px;
}

.blue-background {
  background-color: #1a2236;
  border: none;
}

.footer-background {
  background-color: #1a2236;
  border: none;
  margin-top: 50px;
  padding: 5% 0 5% 0;
}

.justify {
  justify-content: space-between;
  margin-left: -10px;
}

.breake {
  padding-top: 40px;
}

.big-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 10vw;
  gap: 1%;
  background-color: #1a2236;
  border: 0.333333px solid #fff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 3vw;
  line-height: 5px;
  text-align: center;
  color: #fff;
  margin: 20px 2% 20px 0;
}

.big-button2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 7vw;
  background-color: #fff;
  border: 0.333333px solid #1a2236;
  color: #1a2236;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 3vw;
  line-height: 2.5vw;
  text-align: center;
  margin: 0 3% 20px 0;
  padding: 0 3% 0 3%;
}

.reverse {
  background-color: #fff;
  border: 0.333333px solid #1a2236;
  color: #1a2236;
}

.big-button2:hover,
.reverse:hover {
  background: #1a2236;
  color: #fff;
  border: 1px solid #1a2236;
}

.big-button2:active,
.reverse:active {
  color: #1a2236;
  background: #fff;
  border: 2px solid #1a2236;
}

.reversemb {
  background-color: #fff;
  border: 0.333333px solid #1a2236;
  color: #1a2236;
}

.reversemb:hover {
  background: #1a2236;
  color: #fff;
  border: 1px solid #1a2236;
}

.reversemb:active {
  background: #fff;
  color: #1a2236;
  border: 2px solid #1a2236;
}

.lower {
  display: flex;
  width: 95%;
  height: 16vw;
  margin-right: auto;
  margin-left: auto;
  font-size: 6vw;
  text-align: center;
  padding: 0 5% 0 2%;
}

.lower > span {
  flex-grow: 1;
  flex-shrink: 10;
  text-align: center;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
}

.bigbox > li {
  height: auto;
  padding: 10% 20% 20% 20%;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: right;
  margin: 20px 0 20px 0;
}

.box1 {
  background-color: #1c528a;
  background-image: url(./images/taraba.png);
}

.box2 {
  background-color: #e2505c;
  background-image: url(./images/frame.png);
}

.box3 {
  background-color: #febf52;
  background-image: url(./images/bulb.png);
}

.bigbox > li > h3 {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
}

.bigbox > ul {
  list-style-type: none;
}

.bigbox > li > ul {
  display: flex;
  flex-direction: column;
  padding-inline-start: 20px;
  list-style-type: disc;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
}

li > span::before {
  content: '•';
  position: absolute;
  left: -1px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  margin-bottom: 60px;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #7d7c84;
}

textarea {
  display: block;
  height: 112px;
  margin-top: 10px;
  margin-bottom: 15px;
  color: #7d7c84;
  border: 1px solid #dfdfe0;
  border-radius: 4px;
  padding: 16px;
  resize: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

textarea:hover {
  border: 1px solid #585858;
}

::placeholder {
  color: #7d7c84;
}

label {
  display: block;
  margin-top: 10px;
  margin-bottom: 2px;
  border: 1px solid #dfdfe0;
  background-color: #fff;
  border-radius: 4px;
  padding: 2px 0 0 10px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
}

label:hover {
  border: 1px solid #1a2236;
}

input {
  display: block;
  margin: 5px 0 10px 0;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  color: #1a2236;
}

.name {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #7d7c84;
}

input:disabled {
  background: #fff;
}

input:focus {
  outline: none !important;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: -60px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: scroll; /* Enable scroll if needed */
  background-color: #fff;
  padding: 2%;
  min-height: 800px;
}

/* Modal Content/Box */
.modal-content {
  width: 92%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.inner {
  margin: 70px 0 0 0;
  padding: 4vw;
  background-color: #fff;
  margin-bottom: 10%;
}

.inner > h4 {
  color: #1a2236f2;
  margin: 0;
  font-size: 6vw;
}

.inner p {
  font-size: 4.5vw;
  line-height: 6vw;
  margin: 0;
}

/* The Close Button */
.closed {
  color: rgb(0, 0, 0);
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.closed.add,
.closed:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 768px) {
  h1,
  h2 {
    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 8vw;
    line-height: 8vw;
  }

  body {
    overflow-x: hidden;
    margin: 0 auto;
  }

  h1 {
    margin-bottom: 1px;
  }

  h4 {
    font-size: 4vw;
    font-weight: 700;
    line-height: 48px;
    margin-top: 5%;
  }

  .flexfall {
    display: flex;
    flex-direction: row;
  }

  .between {
    justify-content: space-between;
    margin: 20% 0 10% 0;
  }

  .removes {
    display: none;
  }

  .press {
    cursor: pointer;
  }

  .press:hover {
    background: #1a2236;
    color: #fff;
    border: 1px solid #fff;
  }

  .press:active {
    color: #fff;
    background: #1a2236;
    border: 2px solid #fff;
  }

  .press img {
    filter: invert(100%);
  }

  .menubar > img {
    display: none;
  }

  .big-button {
    width: 15vw;
    height: 3.5vw;
    font-weight: 200;
    font-size: 1.4vw;
    margin: 20px 2% 20px 0;
    gap: 1%;
    background-color: #fff;
    border: 0.333333px solid #1a2236;
    line-height: 5px;
    text-align: center;
    color: #1a2236;
  }

  .reversemb {
    background-color: #1a2236;
    border: 0.333333px solid #1a2236;
    color: #fff;
  }

  .reversemb img {
    filter: invert(1%);
  }

  .img-slideshow img {
    width: 100%;
  }

  .slideshow img {
    width: 100%;
  }

  .grid2 img {
    width: 100%;
  }

  .lower > span {
    flex-grow: 0;
  }

  .lower img {
    flex-grow: 0;
  }

  .press:hover img {
    filter: invert(1%);
  }

  .big-button2 {
    width: 10vw;
    height: auto;
    background-color: #fff;
    border: 0.333333px solid #1a2236;
    color: #1a2236;
    font-weight: 300;
    font-size: 1.4vw;
    line-height: 2.5vw;
    margin: 20px 1% 20px 0;
  }

  .reversemb:hover {
    background: #fff;
    color: #1a2236;
    border: 1px solid #1a2236;
  }

  .reversemb:active {
    background: #fff;
    color: #1a2236;
    border: 2px solid #1a2236;
  }

  .reversemb:hover img {
    filter: invert(100%);
  }

  .reversemb:active img {
    filter: invert(100%);
  }

  .languages {
    padding: 10px;
    font-size: 1vw;
    line-height: 100%;
    margin-top: -1%;
  }

  .sixty {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
  }

  .hormenu,
  .wide {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 4%;
  }

  .link {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: -30px;
    top: -40px;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: #1a2236f2;
  }

  .inner {
    margin: 70px 0 0 0;
    padding: 4vw;
    background-color: #fff;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
  }

  .inner > h4 {
    color: #1a2236f2;
    margin: 0;
    font-size: 4.5vw;
  }

  .inner p {
    font-size: 1.3vw;
    line-height: 2vw;
    margin: 0;
  }

  /* The Close Button */
  .closed {
    color: rgb(0, 0, 0);
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }

  .closed.add,
  .closed:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .inverse {
    display: flex;
    width: 50%;
    height: 35px;
    font-size: 1.7vw;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: -0.01em;
    color: #1a2236;
    padding-right: 5%;
    padding-bottom: 5%;
  }

  .end {
    justify-content: end;
  }

  .inverse:hover {
    text-decoration: underline;
  }

  .lower {
    width: 35%;
    height: 3.5vw;
    justify-content: space-between;
    margin-right: 5%;
    padding: 0 2% 0 2%;
    margin-left: 0;
    gap: 0%;
    font-size: medium;
  }

  .gridbox {
    display: grid;
    grid-template-columns: 50% 50%;
    place-self: center;
    margin-left: 10%;
    background-image: none;
    padding-bottom: 10%;
  }

  .gridbox2 {
    display: grid;
    grid-template-columns: 40% 60%;
    background-image: none;
    height: 100%;
  }

  .grid1 {
    grid-column: 1;
    width: 100%;
    background-image: url(./images/dots.png);
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: bottom;
    background-position-x: right;
  }

  .grid2 {
    grid-column: 2;
    display: block;
    background-image: url(./images/geometryBig.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .gridbox2 .grid3 > h2 {
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    margin-block-start: unset;
    margin: 0 0 0 20%;
  }

  .grid3 {
    grid-column: 1;
    width: 100%;
    background-image: url(./images/dots.png);
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: top;
    background-position-x: right;
  }

  .grid4 {
    grid-column: 2;
    display: block;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 40%;
  }

  .bottom {
    align-items: flex-end;
  }

  .background {
    display: none;
  }

  .link a {
    text-decoration: none;
    color: #1a2236;
  }

  .rectangle {
    width: 50%;
    margin: 0 0 30% 0;
  }

  .adds {
    margin-top: 10%;
    z-index: 3;
  }

  .addimg {
    display: block;
    background-image: url(./images/5.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60%;
  }

  .maingrid-display {
    display: grid;
    grid-template-rows: 250px 350px 250px;
    grid-template-columns: 27% 27% 46%;
    background-size: 100% auto;
  }

  .grids {
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
  }

  .cont {
    background-image: url(./images/5.png);
    background-position: bottom;
  }

  .topflex {
    grid-column: 1/ span 3;
    grid-row: 1;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    background-size: 100% auto;
  }

  .gr1 {
    flex: 1 1 20em;
    background-image: url(./images/grid1.png);
    background-position: bottom;
    background-size: contain;
  }

  .gr2 {
    flex: 1 1 20em;
    background-image: url(./images/grid2.png);
    background-position: top;
    background-size: 100% auto;
  }

  .gr3 {
    flex: 1 1 20em;
    flex-grow: 0;
    flex-shrink: 0;
    background-image: url(./images/grid3.png);
    background-size: contain;
  }

  .gr4 {
    display: block;
    grid-column: 1/ span 2;
    grid-row: 2;
    background-image: url(./images/grid4.png);
    background-size: 100%;
  }

  .gr5 {
    grid-column: 3;
    grid-row: 2;
    background-image: url(./images/grid5.png);
    background-position-x: left;
    background-position-y: bottom;
    background-size: 100%;
  }

  .gr6 {
    grid-column: 1;
    grid-row: 3;
    background-image: url(./images/grid6.png);
    background-repeat: no-repeat;
    background-size: 50%;
  }

  .gr7 {
    grid-column: 2;
    grid-row: 3;
    background-image: url(./images/grid7.png);
    background-size: 25%;
    background-position-x: right;
  }

  .gr8 {
    grid-column: 3;
    grid-row: 3;
    background-image: url(./images/grid8.png);
    background-size: 80%;
  }

  .gone {
    display: none;
  }

  .desctop {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    margin-top: 10%;
  }

  .bigbox {
    grid-column: 1;
    grid-row: 1/ span 2;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    padding-left: 15%;
  }

  .bigbox > li {
    height: auto;
    margin: 0;
    padding: 5% 10% 10% 10%;
  }

  .textright {
    grid-column: 2;
    grid-row: 1/ span 2;
    padding-left: 10%;
  }

  .box1 {
    grid-column: 1;
    grid-row: 1;
    padding-left: 10%;
  }

  .box2 {
    grid-column: 2;
    grid-row: 1;
    padding-left: 10%;
  }

  .box3 {
    grid-column: 1;
    grid-row: 2;
    padding-left: 10%;
  }

  .box4 {
    display: block;
    grid-column: 2;
    grid-row: 2;
    background-image: url(./images/dotsteal.png);
  }

  .table {
    display: grid;
    grid-template-rows: 95% 160px;
    grid-template-columns: 30% 40% 30%;
    margin-top: 10%;
  }

  .display {
    grid-column: 2;
    grid-row: 1;
    background-image: none;
  }

  .footer-background {
    grid-column: 3;
    grid-row: 2;
    margin: 0;
    padding: 0;
    background: #1a2236;
    padding-top: 10%;
  }

  .more {
    grid-column: 1;
    grid-row: 2;
    background-color: #1a2236;
    text-align: center;
    padding-top: 10%;
  }

  .fillcolor {
    grid-column: 2;
    grid-row: 2;
    background-color: #1a2236;
  }

  .pics1 {
    grid-column: 1;
    grid-row: 1;
    background-image: url(./images/pics1.png);
    background-repeat: no-repeat;
  }

  .pics2 {
    grid-column: 3;
    grid-row: 1;
    background-image: url(./images/pics2.png);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: right;
    background-size: 70%;
  }

  .animate {
    transition: width 2s, height 2s, transform 1s;
  }

  .animate:hover {
    width: 200px;
    height: 100px;
    transform: rotate(30deg);
  }

  .animate:active {
    width: 204px;
    height: 104px;
    border: solid 5px #96000c;
    color: #dd0404;
  }
}

@media (min-width: 1200px) {
  body {
    overflow-x: hidden;
  }

  button.menubar {
    display: none;
  }

  .hormenu {
    gap: 6%;
  }

  .menu-button {
    display: none;
  }

  .link a:hover {
    cursor: pointer;
    border-bottom: 2px solid #1a2236;
    width: 30px;
  }
}
